<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="issuerName" value="YOUR_ISSUER_NAME" />
    <add key="issuerSecret" value="YOUR_ISSUER_SECRET" />
    <add key="serviceNamespace" value="YOUR_SERVICE_NAMESPACE" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>